NGINX_PORT=8000
DB_PORT=5432
DB_DATABASE=marketplace
DB_USERNAME=marketplace
DB_PASSWORD=secret

DB_TEST_PORT=5433
DB_TEST_DATABASE=marketplace_test
DB_TEST_USERNAME=marketplace
DB_TEST_PASSWORD=secret
